body {
    background-color: #121213;
    color: #f8f8f8;
    font-family: "Roboto", sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}


.title, .login-title {
    font-family: "Bebas Neue", sans-serif;
}

/* START OF WORDLE ANIMATION */

.login-title-container {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 10px auto;
}

.login-title {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    margin: 10px auto;
}

.inner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50pt;
    color: #f8f8f8;
    width: 100px;
    height: 100px;
    border: 2px solid #3a3a3c;
    transition: transform 300ms ease;
}

.inner span {
    opacity: 0;
}

.flip {
    animation: flip 550ms ease forwards;
}

@keyframes flip {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0);
        background: #121213;
    }
    100% {
        transform: scaleY(1);
        background: #6aaa64;
        border: 2px solid #6aaa64;
    }
}

.expand-shrink {
    animation: expandThenShrink 400ms ease;
}

@keyframes expandThenShrink {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* END OF WORDLE ANIMATION */

.title {
    font-size: 55pt;
    letter-spacing: 3px;
    margin: 15px auto 0 auto;
}

.title > img {
    height: 50px;
}


.credentials {
    display: flex;
}

.credentials > div {
    flex: 1;
    font-size: 18pt;
}

input {
    background-color: #e3e3e1;
    font-size: 18pt;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

input[type=submit] {
    font-size: 20pt;
    letter-spacing: 1px;
    font-family: "Bebas Neue", sans-serif;
    transition: 0.25s;
}

input[type=submit]:hover {
    background-color: #6aaa64;
}

.register_button {
    margin-top: 20px;
    font-size: 20pt;
    letter-spacing: 1px;
    font-family: "Bebas Neue", sans-serif;
    transition: 0.25s;
}
.register-button:hover {
    background-color: #6aaa64;
}
