/*green: #538d4e*/
/*yellow: #b59f3b*/
/*off-white: #e3e3e1*/
/*white: #f8f8f8*/
/*black: #121213*/

body {
    background-color: #121213;
    color: #f8f8f8;
    margin: 0;
    font-family: "Verdana";
    font-size: 20pt;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header > div {
    font-family: "Bebas Neue", sans-serif;
}

.right-header-element, .left-header-element {
    flex: 1;
    padding: 0 25px;
    font-size: 30pt;
}

.header > span{
    flex: 1;
    font-size: 30pt;
    font-family: "Bebas Neue", sans-serif;
    color: #f8f8f8;
}

.right-header-element > form > button{
    font-size: 30pt;
    font-family: "Bebas Neue", sans-serif;
    color: #f8f8f8;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
}

.right-header-element {
    text-align: right;
}

.right-header-element > a {
    color: white;
}

.title {
    flex: 3;
    font-size: 55pt;
    margin: 15px auto 0 auto;
    letter-spacing: 3px;
    text-align: center;
}

.title > img {
    height: 50px;
}

.main {
    display: flex;
}

.main > div {
    flex: 1;
    text-align: center;
    padding: 10px;
}

/* Chat ================================================*/

.chat-box {
    background-color: #1c1c1c;
    height: 60vh;
    overflow-y: scroll;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: left;
    padding: 10px;
}

.chat-input, .send {
    background-color: #121213;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #f8f8f8;
    font-size: 20pt;
    color: #f8f8f8;
    font-family: "Verdana";
}

.send:hover {
    background-color: #f8f8f8;
    color: #121213;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1c1c1c;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #404040;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2e2e2e;
}

/* Chat ================================================*/