/*green: #538d4e*/
/*yellow: #b59f3b*/
/*off-white: #e3e3e1*/
/*white: #f8f8f8*/
/*black: #121213*/
/*darkgrey: #2a2a2a*/

::-webkit-scrollbar {
    width: 0;
}

body {
    background-color: #121213;
    color: #f8f8f8;
    margin: 0;
    font-family: "Verdana";
    font-size: 20pt;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header > div {
    font-family: "Bebas Neue", sans-serif;
}

.right-header-element, .left-header-element {
    flex: 1;
    padding: 0 45px;
    font-size: 36pt;
}

.left-header-element img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
    border: 6px solid transparent;
}

.left-header-element a {
    text-decoration: none;
    display: inline-block;
}

.left-header-element .username{
    padding: 0 0 0 10px;
}

.changeProfile {
    margin: 10px 0 0 0;
    text-align: center;
    font-size: 20px;
    color: #538d4e;
    width: 250px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: transparent;
    cursor: pointer;
    padding: 10px 20px;
    display: inline-block;
    outline: none;
}

.popup-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 90px 0 0 40px;
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 30%;
    background-color: #121213;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    border: 3px solid #f8f8f8;
}

.close-button {
    color: #f8f8f8;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.enlarged-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    vertical-align: middle;
    /*border: 3px solid #f8f8f8;*/
}

.popup-content > form > label {
    margin-top: 20px;
    padding: 5px;
    font-size: 20pt;
    letter-spacing: 1px;
    font-family: "Bebas Neue", sans-serif;
    transition: 0.25s;
    border: 2px solid #f8f8f8;
    background-color: #121213;
    color: #f8f8f8;
}

.popup-content > form > label:hover {
    background-color: #f8f8f8;
    color: #121213;
}

.header > span{
    flex: 1;
    font-size: 30pt;
    font-family: "Bebas Neue", sans-serif;
    color: #f8f8f8;
}

.right-header-element > form > button{
    font-size: 30pt;
    font-family: "Bebas Neue", sans-serif;
    color: #f8f8f8;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
}

.right-header-element {
    text-align: right;
}

.right-header-element > a {
    color: white;
}

.title-anchor {
    text-decoration: none;
    color: #f8f8f8;
    font-family: "Bebas Neue", sans-serif;
}

.title {
    flex: 3;
    font-size: 55pt;
    letter-spacing: 3px;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
}

hr {
    margin-top: 10px;
}

.title > img {
    height: 50px;
}

.main {
    display: flex;
}

.main > div {
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*padding: 10px 60px;*/
}

.leaderboard, .chat {
    padding: 10px 60px;
}

.card {
    background-color: #2a2a2a;
    border-radius: 20px;
    height: calc(100vh - 200px);
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card > h1 {
    color: #f8f8f8;
    font-family: "Bebas Neue", sans-serif;
    font-size: 36pt;
    margin: 0;
    font-weight: normal;
}

/* Chat ================================================*/

.chat-log {
    background-color: #121213;
    border-radius: 20px;
    width: 95%;
    height: calc(100% - 150px);
    margin-bottom: 10px;
    display: inline-block;
    padding: 5px;
    overflow-y: scroll;
}

.chat-input {
    background-color: #121213;
    border: 2px solid #121213;
    width: 90%;
    border-radius: 20px;
    font-size: 14pt;
    height: 40px;
    font-family: "Verdana";
    color: #f8f8f8;
    -webkit-appearance: none;
    padding: 5px 10px;
    display: inline-block;
}

.message-container {
    text-align: left;
    font-size: 12pt;
    margin: 5px 2px;
    width: calc(100% - 30px);
    display: inline-block;
    font-weight: bold;
}

.delete-button {
    border-radius: 5px;
    font-family: "Verdana";
    font-weight: bold;
    border: 2px solid #f8f8f8;
    background-color: #121213;
    color: #f8f8f8;
    transition: 0.25s;
}

.delete-button:hover {
    background-color: #f8f8f8;
    color: #121213;
}

.like-button {
    background-color: #121213;
    border: 1px solid #121213;
    transition:0.25s
}

.like-button:hover {
    font-size: 14pt;
}

.message-body {
    display: flex;
}

.chatProfile {
    margin: 10px 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.message-body > div {
    margin: 10px 5px;
    font-size: 14pt;
    font-weight: normal;
    border-radius: 10px;
    padding: 5px 10px;
    display: inline-block;
    word-wrap: break-word;
    word-break: break-word;
    max-width: 18vw;
}

.other {
    background-color: #f8f8f8;
    color: #121213;
}

.original {
    background-color: #538d4e;
    color: #f8f8f8;
}

/* End chat ================================================*/
/* Game ================================================*/

/*.current-score {*/
/*    display: block;*/
/*    margin: 10px auto 20px auto;*/
/*}*/

.game {
    padding-top: 10px;
}

.game-header {
    display: flex;
    margin: 5px auto 10px auto;
}

.game-header > div {
    flex: 1;
    align-content: center;
    font-size: 16pt;
}

.game-header > div > button {
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 18pt;
    letter-spacing: 1px;
    font-family: "Bebas Neue", sans-serif;
    transition: 0.25s;
    border: 2px solid #f8f8f8;
    background-color: #121213;
    color: #f8f8f8;
}

.game-header > div > button:hover {
    background-color: #f8f8f8;
    color: #121213;
}

/* START OF WORDLE ANIMATION */

.row-container {
    justify-content: center;
    align-items: center;
    display: flex;
}

.row {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    margin: 0.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 3vw;
    color: #f8f8f8;
    width: 85%;
    aspect-ratio: 1 / 1;
    border: 2px solid #3a3a3c;
    transition: transform 300ms ease;
}

.inner span {
    opacity: 0;
}

.correct-flip {
    animation: correctFlip 550ms ease forwards;
}

.partial-flip {
    animation: partialFlip 550ms ease forwards;
}

.incorrect-flip {
    animation: incorrectFlip 550ms ease forwards;
}

@keyframes correctFlip {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0);
        background: #121213;
    }
    100% {
        transform: scaleY(1);
        background: #538d4e;
        border: 2px solid #538d4e;
    }
}

@keyframes partialFlip {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0);
        background: #121213;
    }
    100% {
        transform: scaleY(1);
        background: #b59f3b;
        border: 2px solid #b59f3b;
    }
}

@keyframes incorrectFlip {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0);
        background: #121213;
    }
    100% {
        transform: scaleY(1);
        background: #3a3a3c;
        border: 2px solid #3a3a3c;
    }
}

.expand-shrink {
    animation: expandThenShrink 400ms ease;
}

@keyframes expandThenShrink {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* END OF WORDLE ANIMATION */

.alert-message {
    margin-top: 10px;
    font-size: 12pt;
}
/* End Game ================================================*/
/* Leaderboard ================================================*/

.timer {
    font-size: 16pt;
    margin-bottom: 10px;
}

.leaderboard-log {
    height: calc(100% - 75px);
    overflow-y: scroll;
}

.leaderboard-entry {
    background-color: #121213;
    border-radius: 20px;
    width: 95%;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 16pt;
}

.leaderboard-entry > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
}

.leaderboard-entry > span {
    margin-left: 10px;
}

/* End Leaderboard ================================================*/

#easter-egg-image {
    position: absolute;
    width: 100vw;
    display: none;
    z-index: 100;
}