<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wurdle Royale</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/wordle-favicon.ico">
    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="header">
        <div class="left-header-element">
            {% if username %}
                <span>{{ username }}</span>
            {% else %}
                <span> Guest </span>
            {% endif %}
        </div>

        <a href="/" class="title-anchor">
            <div class="title">
                <img src="static/images/logo.png"/>
                Wurdle Royale
                <img src="static/images/logo.png"/>
            </div>
        </a>


        <div class="right-header-element">
            {% if username %}
                <form action="/logout" method="post">
                    <button type="submit"> Log out </button>
                </form>
            {% else %}
                <a href="login.html">Sign up / Log In</a>
            {% endif %}
        </div>
    </nav>

    <hr>

    <section class="main">
        <div class="leaderboard">
            <div class="card">
                <h1> Leaderboard </h1>
            </div>
        </div>

        <div class="game">

            <span class="current-score" id="score"> Login for Score</span>

            <section class="row-container">
                <div class="row" id="row-1">
                    <div class="inner">
                        <span class="inner-text"></span>
                    </div>
                    <div class="inner">
                        <span class="inner-text"></span>
                    </div>
                    <div class="inner">
                        <span class="inner-text"></span>
                    </div>
                    <div class="inner">
                        <span class="inner-text"></span>
                    </div>
                    <div class="inner">
                        <span class="inner-text"></span>
                    </div>
                </div>
            </section>

            <section class="row-container">
                <div class="row" id="row-2">
                    <div class="inner">
                        <span class="inner-text"></span>
                    </div>
                    <div class="inner">
                        <span class="inner-text"></span>
                    </div>
                    <div class="inner">
                        <span class="inner-text"></span>
                    </div>
                    <div class="inner">
                        <span class="inner-text"></span>
                    </div>
                    <div class="inner">
                        <span class="inner-text"></span>
                    </div>
                </div>
            </section>

            <section class="row-container">
                <div class="row" id="row-3">
                    <div class="inner">
                        <span class="inner-text"></span>
                    </div>
                    <div class="inner">
                        <span class="inner-text"></span>
                    </div>
                    <div class="inner">
                        <span class="inner-text"></span>
                    </div>
                    <div class="inner">
                        <span class="inner-text"></span>
                    </div>
                    <div class="inner">
                        <span class="inner-text"></span>
                    </div>
                </div>
            </section>

            <section class="row-container">
                <div class="row" id="row-4">
                    <div class="inner">
                        <span class="inner-text"></span>
                    </div>
                    <div class="inner">
                        <span class="inner-text"></span>
                    </div>
                    <div class="inner">
                        <span class="inner-text"></span>
                    </div>
                    <div class="inner">
                        <span class="inner-text"></span>
                    </div>
                    <div class="inner">
                        <span class="inner-text"></span>
                    </div>
                </div>
            </section>

            <section class="row-container">
                <div class="row" id="row-5">
                    <div class="inner">
                        <span class="inner-text"></span>
                    </div>
                    <div class="inner">
                        <span class="inner-text"></span>
                    </div>
                    <div class="inner">
                        <span class="inner-text"></span>
                    </div>
                    <div class="inner">
                        <span class="inner-text"></span>
                    </div>
                    <div class="inner">
                        <span class="inner-text"></span>
                    </div>
                </div>
            </section>

            <section class="row-container">
                <div class="row" id="row-6">
                    <div class="inner">
                        <span class="inner-text"></span>
                    </div>
                    <div class="inner">
                        <span class="inner-text"></span>
                    </div>
                    <div class="inner">
                        <span class="inner-text"></span>
                    </div>
                    <div class="inner">
                        <span class="inner-text"></span>
                    </div>
                    <div class="inner">
                        <span class="inner-text"></span>
                    </div>
                </div>
            </section>
        </div>

        <script src="static/js/game.js"></script>

        <div class="chat">
            <div class="card">
                <h1> Chat Room </h1>
                <div class="chat-log">
                </div>
                <input id="chat-input" type="text" placeholder="Type Message" class="chat-input">
            </div>
        </div>

        <script src="static/js/script.js"></script>

    </section>
</body>
</html>