<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wurdle Royale</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/wordle-favicon.ico">
    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
    <script src="static/js/script.js"></script>
    <nav class="header">
        <div class="left-header-element">
            {% if username %}
                <span>{{ username }}</span>
            {% else %}
                <span> Guest </span>
            {% endif %}
        </div>

        <div class="title">
            <img src="static/images/logo.png"/>
            Wurdle Royale
            <img src="static/images/logo.png"/>
        </div>

        <div class="right-header-element">
            {% if username %}
                <form action="/logout" method="post">
                    <button type="submit"> Log out </button>
                </form>
            {% else %}
                <a href="login.html">Sign up / Log In</a>
            {% endif %}
        </div>
    </nav>

    <hr>

    <section class="main">
        <div class="leaderboard"> Leaderboard </div>
        <div class="game"> Game </div>
        <div class="chat">
            <div class="chat-box"></div>
            <input id="chat-input" type="text" placeholder="Type Message" class="chat-input">
            <input type="button" id="chat-button" onclick="sendChat()" value="Send" class="send">
            <script>
                document.addEventListener("keypress", function (event) {
                    if (event.code === "Enter") {
                        sendChat();
                    }
                });
            </script>
        </div>
    </section>
</body>
</html>