<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wurdle Royale</title>
    <link rel="stylesheet" type="text/css" href="static/css/login.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
    <script src="static/js/login.js"></script>

    <div class="title">
        <img src="static/images/logo.png"/>
        Wurdle Royale
        <img src="static/images/logo.png"/>
    </div>
    <hr>

    <section class="credentials">
        <!--
        <div>
            <h3 class="sub-title"> Sign Up </h3>

            <form action="/register" method="post" enctype="application/x-www-form-urlencoded">
                <label>Username: <br/>
                    <input type="text" name="username"/>
                </label>
                <br/>
                <label>Password: <br/>
                    <input type="password" name="password">
                </label>
                <br/>
                <input type="submit" value="Sign Up">
            </form>
        </div>
-->
        <div class = "login">
            <section class="login-title-container">
                <div class="login-title">
                    <div class="inner">
                        <span class = inner-text>L</span>
                    </div>
                    <div class="inner">
                        <span class = inner-text>O</span>
                    </div>
                    <div class="inner">
                        <span class = inner-text>G</span>
                    </div>
                    <div class="inner">
                        <span class = inner-text>I</span>
                    </div>
                    <div class="inner">
                        <span class = inner-text>N</span>
                    </div>
                </div>
            </section>

            <form action="/login" method="post" enctype="application/x-www-form-urlencoded">
                <label>Username: <br/>
                    <input type="text" name="username"/>
                </label>
                <br/>
                <label>Password: <br/>
                    <input type="password" name="password">
                </label>
                <br/>
                <input type="submit" value="SUBMIT">
            </form>
        </div>
    </section>

</body>
</html>