<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wurdle Royale</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/wordle-favicon.ico">
    <link rel="stylesheet" type="text/css" href="static/css/credentials.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
    <script src="static/js/wordFlip.js"></script>

    <a href="/" class="title-anchor">
        <div class="title">
            <img src="static/images/logo.png"/>
            Wurdle Royale
            <img src="static/images/logo.png"/>
        </div>
    </a>
    <hr>

    <section class="credentials">
        <div>
            <section class="title-animation-container">
                <div class="title-animation register-title-animation">
                    <div class="inner">
                        <span class = inner-text>S</span>
                    </div>
                    <div class="inner">
                        <span class = inner-text>I</span>
                    </div>
                    <div class="inner">
                        <span class = inner-text>G</span>
                    </div>
                    <div class="inner">
                        <span class = inner-text>N</span>
                    </div>
                    <div class="inner">
                        <span class = inner-text>-</span>
                    </div>
                    <div class="inner">
                        <span class = inner-text>U</span>
                    </div>
                    <div class="inner">
                        <span class = inner-text>P</span>
                    </div>
                </div>
            </section>

            <form action="/register" method="post" enctype="application/x-www-form-urlencoded" onsubmit="event.preventDefault(); registerUser();">
                <label>Username: <br/>
                    <input type="text" id="username" required/>
                </label>
                <br/>
                <label>Password: <br/>
                    <input type="password" id="password" required>
                </label>
                <br/>
                <label>Confirm Password: <br/>
                    <input type="password" id="password_confirm" required>
                </label>
                <br/>
                <input type="submit" value="Sign Up" class="button">
            </form>
        </div>
    </section>
</body>
</html>